.first-page {
  /* background: url('../images/Roxborough_State_Park,_CO.jpg'); */
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.6) 0%,rgba(37,37,37,0.6) 100%), url('../images/Roxborough_State_Park,_CO.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* align-items: center;
  justify-content: center; */
} 

.first-section {
  padding-bottom: 8.5rem;
}
.music-data{
  color: black;
}


